img {
  width: 100%;
}

#facts {
  padding-top: 10px;
  width: 100%;
}

#comments-subhead-panel {
  display: inherit;
}

#select-language {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
